{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Signupss- Success" %}|{{ block.super }}{% endblock title %}
{% block content %}
<div class="container flex text-center mt-5">
  <h1>{% trans "Successfully Signed Up" %}</h1>
  <p>{% blocktrans %} You have successfully signed up. </br>
  If your account is not activated within 5 working days,  
  then please contact {% endblocktrans %}
  <a href='https://www.smartdeveloper.dk/contact' target='blank'>
  Smart Developer</a></p>
</div>
{% endblock content%}
