{% load static %}
{% load i18n %}
{% block extra_head %}
<head>
    <link rel='stylesheet' href="{% static '/mobile_offers_card.css'%}">
</head>
        {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% endcomment %}
{% endblock %}
<div class='mo-container'>
<div class='mo-image-container'>
    <div class='mo-mobile-name'>
        {% if mobile.full_name %}{{ mobile.full_name }}
        {% else %}{{ mobile.name }}{% endif %}
    </div>
    <div class='mo-image-column'>
        <a href={{ mobile.get_absolute_url }}>
        {% if mobile.image %}<img class="mo-image" src={{ mobile.image.url }}>
        {% else %}<img class="mo-image" src={{'/media/images/default_mobile_image.png' }}>{% endif %}
        </a>
        <div class='mo-img-container-btn-span'>
        <button class='mo-link-btn' onclick="location.href = '{{ mobile.get_absolute_url }}'">
        {% trans 'View All Offers' %}</button>
        <button id='{{mobile.pk|safe}}' class='compare-btn mo-link-btn' value='{{mobile.image}}' name='{{mobile.name|safe}}'>{% trans 'Compare' %}</button>
        {% comment %} <button id='compare' class='compare-btn mo-link-btn' value={{mobile}} onclick="addMobile(this, '{{mobile}}')">{% trans 'Compare' %}</button> {% endcomment %}
        {% comment %} <button id='compare' class='compare-btn mo-link-btn' value='{{mobile.pk|safe}}' onclick="addMobile(this)">{% trans 'Compare' %}</button> {% endcomment %}
        </div>
    </div>
</div>
<table class='mo-offers-data-table'>
  <tr>
    <th>{% trans 'Company' %}</th>
    <th>{% trans 'Discount' %}</th>
    <th>{% trans 'Price' %}</th>
    <th>{% trans 'Link' %}</th>
  </tr>
  {% for offer in offers %}
  <tr>
    <td>{{offer.telecom_company.name}}</td>
    <td>
        {% if offer.discount_offered %}{{ offer.discount_offered }}.kr 
        {% elif offer.discount %}{{ offer.discount }}
        {% else %}{% trans "Discount" %}{% endif %}
    </td>
    <td class='mo-price-column'>{% if offer.price %}{{offer.price}} 
        {% else %}{%trans "Offer" %} {% endif %}
    </td>
    <td><button class='mo-link-btn' onclick="location.href = '{{ offer.get_absolute_url }}'">
        {% trans 'Details' %}</button></td>
  </tr>
  {% endfor %}
</table>
</div>
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> {% endcomment %}
<script>
//$("[id='compare']").click(function() {
  //open_modal();
  //console.log('{{mobile.name}}');
  //console.log(this);
  //add_mobile('{{mobile.name}}');
//});
{% comment %} function addMobile(element){
  var m_name = document.getElementsByClassName('mo-mobile-name')[0];
  var m_image = document.getElementsByClassName('mo-image')[0];
  console.log('I am CLicked ' + m_name.innerHTML + '- Image: ' + m_image.src);
  open_modal();
  add_mobile(m_name.innerHTML.trim());
} {% endcomment %}
</script>
