{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block extra_head %}
        <link rel='stylesheet' href="{% static '/offer_list.css'%}">
{% endblock %}

{% block title %} {% translate "Telecom-companies" %} | {{ block.super }}
{% endblock title %}

{% block content %}
<div class='offer_list_container'>
    <h3 class="offer-header">
        {% trans "POPULAR OFFERS" %}</h3>
    <div class='offers-company-list'>
        <form method='GET' action=''>
            <button id='company' name="company" class="tele-comp-btn" 
            type="submit" value='All'/>{% trans 'All' %}</button>
            <button id='company' name="company" class="tele-comp-btn" 
            type="submit" value='Popular'/>{% trans 'Popular' %}</button>
            {% for tele_company in tele_companies %}
                <button id='company' name="company" class="tele-comp-btn" 
                type="submit" value={{tele_company}} />
                {{ tele_company }}</button>
            {% endfor %}
        </form>
    </div>
    <div class='offer-search-field'><form class='form' method='GET' action=''>
        <input id='query' type='text' placeholder='{% trans 'Search offer by mobile name..'%}' 
        name='query' value={{ request.GET.query}}>
        <button id='search_btn' class='tele-comp-btn' 
        type='submit'>{% trans 'Search..'%}</button>
    </form></div>
    <div class="offer-cards-container">
        {% if not object_list %}
        <h3>{% trans "No Offers Here" %}</h3>
        {% else %}
        {% for offer in object_list %}
        {% include 'offer/offer_card_snippet.html' with offer=offer%}
        {% endfor %}
        {% endif %}
    </div>
</div>
{% include 'paginator_template.html' with page_obj=page_obj %}
{% endblock content %}
{% block extra_scripts %}
<script>
$("[id='company'][value={{company}}]").css('background-color', '#007AD0').css('color','#fff');
$(function() {
  $( "#query" ).autocomplete({
    source: "/tilbud_search_auto_complete",
    select: function (event, ui) { //item selected
      AutoCompleteSelectHandler(event, ui)
    },
    minLength: 2,
  });
});
function AutoCompleteSelectHandler(event, ui)
{
  var selectedObj = ui.item;
}
// TODO call the below function if the user has
// clicked / choosen one option from given list
function SearchHandler()
{
  $( "#search_btn" ).click()
}
</script>
{% endblock extra_scripts %}
