{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block extra_head %}
        <link rel='stylesheet' href="{% static '/offer_detail.css'%}">
{% endblock %}
{% block content %}
{% if object %}
<div class='tilbud-detail-section'>
    <h2 class="tilbud-detail-header"><span> {% trans 'Offer Details' %} </span></h2>
    <div class="offer-mob-image-div">
        {% if object.mobile and object.mobile.image %}
                <img class='offer-mob-image' src={{ object.mobile.image.url }}>
        {% endif %}
    </div>
    <h3 class="mobile-name">{% if object.mobile and object.mobile.full_name %}
            {{object.mobile.full_name}}
    {% elif object.mobile_name %}
            {{ object.mobile_name }}
    {% endif %}<h3>        
    <div class="offer-description">
        <div class="offer-discount">
                {% if object.discount_offered %} {{ object.discount_offered }}
                {% elif object.discount %}{% trans "Discount"%}: {{ object.discount }}{% endif %}
        </div>
        <div class="offer-discount company-name">
                <p class="card-text"><span><small>{% translate "Company" %}</small>
                {{object.telecom_company.name}}</span></p>
        </div>
        <div class="offer-discount">
        {% if object.price %}
                Price: {{object.price}} 
        {% endif %}
        </div>
        <div class='offer-md-btn-div'>
        {% comment %} {% if previous_page %}
            <button class='offer-md-btn' 
            onclick="location.href = '{{ request.META.HTTP_REFERER }}'">
            {% trans 'Back' %}</button>
        {% endif %} {% endcomment %}
        {% if object.mobile %}
            <button class='offer-md-btn' 
            onclick="location.href = '{{ object.mobile.get_absolute_url }}'">
            {% trans 'Mobile Details' %}
            </button>
        {% endif %}
        </div>
        <div class="offer-url">
            {% if object.offer_url %}
            <a href={{ object.offer_url }} target=blank>
                {% trans 'Link to the offer on company website' %}</a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
