{% load i18n %}
{% load static %}
{% block extra_head %}
        <link rel='stylesheet' href="{% static '/offer_card_snippet.css'%}">
{% endblock %}

<a class="offer_card_container offer_card_a" href={{ offer.get_absolute_url }}>
        <div class="offer-card-header">
            {% if offer.discount_offered %}{% trans "Discount"%}: 
            {{ offer.discount_offered }}.kr {% elif offer.discount %}{{ offer.discount }}{% endif %}
        </div>
        <div class="offer-card-body">
            <div class="offer-mobile-image">
            {% if offer.mobile.image %}
                <img class="offer-mob-image" src={{ offer.mobile.image.url }}>
            {% else %}
                <img class="offer-mob-image" src={{ '/media/images/default_mobile_image.png' }}>
            {% endif %}
            </div>
            <div class="offer-card-title">{% if offer.mobile %}
                {{offer.mobile.full_name}} {% elif offer.mobile_name %}
                {{ offer.mobile_name }}{% endif %}
            </div>
            <div class="offer-card-text">
            <b>{{offer.telecom_company.name}}</b>
            <br>{% if offer.price %}
            {{offer.price}} {% else %}{%trans "Offer" %} {% endif %}
            </div>
        </div>
</a>
