{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block extra_head %}
        <link rel='stylesheet' href="{% static '/offers_home.css'%}">
{% endblock %}
{% block content %}
<div class='oh-container'>
    <h3 class="oh-title">
        {% trans "POPULAR OFFERS" %}</h3>
    <div class='oh-filters-list'>
        <form method='GET' action=''>
            <button id='filter' name="filter" class="oh-tele-comp-btn" 
            type="submit" value='All'/>{% trans 'All' %}</button>
            <button id='filter' name="filter" class="oh-tele-comp-btn" 
            type="submit" value='Popular'/>{% trans 'Popular' %}</button>
        </form>
        <button id='company' name="company" class="oh-tele-comp-btn" 
        type="submit" value='search_by_company' 
        onclick="location.href = '{% url 'telecompanies:offers' %}'"/>
        {% trans 'Filter by Company' %}</button>
    </div>
    <div class='oh-search-field'><form class='form' method='GET' action=''>
        <input id='query' type='text' placeholder='{% trans 'Search offer by mobile name..'%}'
        name='query' value={{ request.GET.query}}>
        <button id='search_btn' class='oh-tele-comp-btn' 
        type='submit'>{% trans 'Search..'%}</button>
    </form></div>
    {% if offers_dict|length < 1 and not unknown_offers%}
        <h3>{% trans "No Offers Here" %}</h3>
    {% else %}
    <div class="oh-cards-container">
        {% for mobile, offers in offers_dict.items %}
            {% include 'offer/mobile_offers_card.html' with mobile=mobile offers=offers %}
        {% endfor %}
        {% if unknown_offers %}
        {% for offer in unknown_offers %}
            {% include 'offer/offer_card_snippet.html' with offer=offer%}
        {% endfor %}
        {% endif %}
    </div>
    {% endif %}
<div>
<div class='oh-compare-container'>
{% include 'core/compare_modal.html' %}
</div>
{% endblock content %}
{% block extra_scripts %}
{{ block.super }}
<script>
var elements = document.getElementsByClassName("compare-btn");
var m_name = document.getElementsByClassName('mo-mobile-name');
var m_image = document.getElementsByClassName('mo-image');
for(var i=0; i<elements.length; i++) {
  img = m_image[i].src;
  value = elements[i].value;
  name = m_name[i].innerHTML;
  elements[i].addEventListener('click', function(){
    open_modal();
    add_mobile(this.id, this.name, this.value);
  });
}
$("[id='filter'][value={{filter}}]").css('background-color', 'rgb(167, 123, 12);').css('color','#fff');
$(function() {
  $( "#query" ).autocomplete({
    source: "/tilbud_search_auto_complete/",
    select: function (event, ui) { //item selected
      AutoCompleteSelectHandler(event, ui)
    },
    minLength: 2,
  });
});
function AutoCompleteSelectHandler(event, ui)
{
  var selectedObj = ui.item;
}
// TODO call the below function if the user has
// clicked / choosen one option from given list
function SearchHandler()
{
  $( "#search_btn" ).click()
}
</script>
{% endblock extra_scripts %}
