{% load i18n %}
Tilbud Details
{% if object %}
<div class='mt-5 text-center justify-content-center'>
        {% if object.mobile and object.mobile.image %}
                <img src={{ object.mobile.image.url }}>
        {% endif %}
        <h3>{% if object.mobile and object.mobile.full_name %}
                {{object.mobile.full_name}}
        {% elif object.mobile_name %}
                {{ object.mobile_name }}
        {% endif %}<h3>
        <div class="container-fluid">
                <div class="card-header bg-transparent border-success">
                        {% trans "Discount"%}
                        {% if object.discount_offered %}: {{object.discount_offered}}{% endif %}
                </div>
                <div class="card-body text-success">
                        <p class="card-text"><small>{% translate "Telecom Company" %}</small>
                        {{object.telecom_company.name}}</p>
                </div>
                <div class="card-footer bg-transparent border-success">{% if object.price %}
                        Price: {{object.price}} {% endif %}
                </div>
                {% if object.offer_url %}
                <b>Url</b> <a href={{ object.offer_url }} target=blank>
                        {% trans 'Link to the offer on company website' %}</a>
                {% endif %}
        </div>
</div>
{% endif %}