{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block extra_head %}
        <link rel='stylesheet' href="{% static '/main.css'%}">
{% endblock %}

{% block title %} {% translate "Offers" %} | {{ block.super }}
{% endblock title %}

{% block content %}
<div class='offer_list_container' style="">
        <h1 class="offer-header" style="">
                {% trans "POPULAR OFFERS" %}<h1>
        <div class='company-list'>
                <form method='GET' action=''>
                        <input name="offer" class="btn btn-info m-1" 
                        type="submit" value='All'/>
                        <input name="offer" class="btn btn-info m-1" 
                        type="submit" value='Popular' />
                        {% for tele_company in tele_companies %}
                                <input name="company" class="btn btn-info m-1" 
                                type="submit" value={{tele_company}} />
                        {% endfor %}
                </form>
        </div>
        <div class="card-group" style="">
                {% if not object_list %}
                <h3>{% trans "No Offers Here" %}<h3>
                {% endif %}
                {% for offer in object_list %}
                {% include 'offer/offer_card_snippet.html' with offer=offer%}
                {% endfor %}
        </div>
</div>
{% endblock content %}
