.cookie-container{
    height: 95px; 
    position: fixed; 
    bottom:0%;
    width:100%; 
    /* background-color: #393838;  */
    background-color: rgba(34, 34, 32, 0.6);
    /* opacity: .3; */
    text-align: center;
}
.cookie-content{
    color: white;
}