.popular-heading {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2em;
}
.popular-heading span {
    padding: 1rem;
    border-bottom: 3px solid  rgb(239, 239, 255);
    min-width: 100%;
}
.home-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
}
.home-popular-mobiles {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.popular-mobiles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.home-popular-offers{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.popular-offer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mobile_card_a{
    text-decoration: none !important;
}
