.brands-header {
    text-transform: uppercase;
}
.mobile_list_container {
    display:flex; 
    flex-direction:column; 
    align-items:center; 
    justify-self:center 
}
.company-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0 1em 0;
}
.auto-search {
    margin-top: 1.5em;
    display: flex;
}
.auto-search > input,
input::-webkit-input-placeholder {
    font-size: 1rem;
    padding: 0.5rem;
}
#search-btn {
    background-color: #0099CC;
}
.mobile-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selected-brand-mobile-list {
    padding: 2em;  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.section-header {
    text-transform: uppercase;
}
.header-span {
    font-size: 0.8rem;
    font-weight: normal;
    color: rgb(66, 66, 247);
}