.mobile-list-container {
    display:flex; 
    flex-direction:column; 
    align-items:center; 
    align-self:center; 
    justify-self:center;
    margin-top: 2rem;
}
.brands-header {
    font-weight:bold; 
    font-family:sans-serif; 
    color:#000061;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    text-transform: uppercase;
    text-align: center;
}
.mb-company-list {
    padding:0.2em; 
    display:flex; 
    align-items:center; 
    text-align: center;
    justify-content:center;
}
.mb-btn{
    color: #1a1a1a;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;  
    border: .1px solid #767676;
    border-radius: 3px;
    margin: 0.2rem;
    padding: 0.5rem;
    font-size: 1rem;
}
.mb-btn:hover {
    background-color:  #008CBA;
    color: white;
}
.brand-btn-icon{
    max-width: 1.1em;
    max-height: 1.1em;
}
.mb-search-field{
    border-bottom: 2px solid #e8f4f8; 
    padding:0.2em; 
    padding-bottom: 0.8em;
    display:flex; 
    align-items:center; 
    justify-content:center;
}
.mb-search-field > input,
.mb-search-field input {
    height: 2.30em;
    font-size: 1.2rem;
}
input::-webkit-input-placeholder {
    font-size: 1rem;
    padding: 0.5rem;
}
.selected-brand-mobile-list {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.section-header {
    text-transform: uppercase;
}
