.m-detail-container{
    display:flex; 
    flex-direction:column; 
    align-items:center; 
    align-self:center; 
    justify-self:center;
    margin-top: 2rem;
}
.title-m-name{
    text-align: center;
}
.m-basic-info{
    text-align: center;
}
.color-memory-section {
    text-align: center;
    width: 100%;
}
.m-image-container{
    max-width: 15rem;
    max-height: 30rem;
    border: none;
    cursor: pointer;
    padding: 1rem;
}
.m-image{
    width: 100%;
    height: 100%;
}
.md-btn-list{
    padding:0.2em; 
    /* display:flex;  */
    align-items:center; 
    justify-content:center;
    text-align: center;
}
.m-detail-btn{
    color: #1a1a1a;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;  
    border: .1px solid #767676;
    border-radius: 3px;
    margin: 0.2rem;
    padding: 0.5rem;
    font-size: 1rem;
}
.m-detail-btn:hover {
    background-color:  #008CBA;
    color: white;
}
.md-offers-container{
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.mobile-cam-specs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    border:1px solid rgb(167, 167, 170);
}
.rear-camera {
    width: 50%;
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    border-right: 1.5px solid  rgb(239, 239, 255);
}
.front-camera {
    width: 50%;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
}
.md-tech-specs{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    line-height: 1.8rem;
    padding: 1rem;
    border:1px solid rgb(167, 167, 170);
}
.md-tech-left {
    width: 50%;
    padding-right: 1em;
    border-right: 1.5px solid  rgb(239, 239, 255);
}
.md-tech-right {
    width: 50%;
    padding-left: 1em;
}
.md-specs-row{
    background-color: #f8f9fa;
    border: 2px solid #ffffff;
}
