{% load i18n %}
{% load static %}
{% block extra_head %}
        <link rel='stylesheet' href="{% static '/mobile_card_snippet.css'%}">
{% endblock %}

<a class="col-auto mobile_card_a" href={{ mobile.get_absolute_url }}>
    <div class="card mobile-card">
        <div class="card-header"> 
            {{mobile.full_name}}
        </div>
        <div class="card-body">
            {% if mobile.image %}
            <div class="mobile-image">
                <img class="mob-image" src={{ mobile.image.url }}>
            </div>
            {% else %}
            <div class="mobile-image">
                <img class="mob-image" src={{'/media/images/default_mobile_image.png' }}>
            </div>
            {% endif %}
        </div>
        {% comment %} <div class="card-footer bg-transparent"
            style="">
            {% if mobile.price %}
                {%trans "Price" %}{{mobile.price}} DKK 
            {% endif %}
        </div> {% endcomment %}
    </div>
</a>