{% load i18n %}
{% load static %}
{% block extra_head %}
        <link rel='stylesheet' href="{% static '/mobile_card_snippet.css'%}">
{% endblock %}

<a class="mobile-card-container mobile-card mobile_card_a" href={{ mobile.get_absolute_url }}>
    {% if mobile.image %}
        <div class="mobile-card-image">
            <img class="mob-image" src={{ mobile.image.url }}>
        </div>
    {% else %}
        <div class="mobile-card-image">
            <img class="mob-image" src={{'/media/images/default_mobile_image.png' }}>
        </div>
    {% endif %}
    <div class="mobile-card-info"> 
        {{mobile.full_name}}
        {% if mobile.cash_price %}
            <br>{%trans 'Price From: ' %}{{mobile.cash_price}}
        {% endif %}
    </div>
</a>
