{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block extra_head %}
        <link rel='stylesheet' href="{% static '/mobile_detail.css'%}">
{% endblock %}
{% block title %} {{ mobile.name }} | {{ block.super }}
{% endblock title %}
{% block content %}
<div class='m-detail-container'>
    <div class='title-m-name'>
    <h3>{% if mobile.full_name %}{{mobile.full_name}} 
    {% else %}{{ mobile.name }}{% endif %}<h3>    
    </div>
    <div class='m-image-container'>
        {% if mobile.image %}
            <img class='m-image' src={{ mobile.image.url }} > 
        {% else %}
            <img class='m-image' src={{ '/media/images/default_mobile_image.png' }}>
        {% endif %}
    </div>
    <div class='m-basic-info'>
        <h5>{% if mobile.cash_price %}{%trans 'Price From: ' %} 
        {{mobile.cash_price}} DKK {% endif %}<h5>
        <p class="card-text"><small>
        {% translate "Manufacturer" %}</small>
        {{mobile.brand.name}}</p>
    </div>
    <div class='md-btn-list'>
        <button name="m_details" id="m_offers_btn" class="m-detail-btn"
         type="submit" value='offers'/>{% trans 'Offers' %}</button>
        <button name="m_details" id="m_colors_btn" class="m-detail-btn"
         type="submit" value='colors'/>{% trans 'Colors' %}</button>
        <button name="m_details" id="m_memory_btn" class="m-detail-btn"
         type="submit" value='memory'/>{% trans 'Memory' %}</button>
        <button name="m_details" id="m_specs_btn" class="m-detail-btn"
         type="submit" value='specs'/>{% trans 'Specs' %}</button>
        <button name="m_details" id="m_camera_btn" class="m-detail-btn"
         type="submit" value='camera'/>{% trans 'Camera' %}</button>
    </div>
    <div id='md_color_div' class="md-details-container">
        {% if colours %}
            <b>Colours</b>: 
            {% for colour in colours %}{{colour.value}}, {% endfor %}
        {% else %}
            {% trans 'Sorry! No color details available yet' %}
        {% endif %}
    </div>
    <div id='md_memory_div' class='md-details-container'>
        {% if memory %}
        <b>Memory</b>: 
            {% for mem in memory %}{{mem.value}}, {% endfor %}
        {% else %}
                {% trans 'Sorry! No memory details available yet' %}
        {% endif %}
    </div>
</div>
<div id='md_offers_div' class="md-offers-container">
    {% if not offers %}
        {% trans "Currently no offer on this mobile" %}
    {% else %}
        {% comment %} {% translate "Offers on" %} {{mobile.name}} </br> {% endcomment %}
    {% for offer in offers %}
    {% include 'offer/offer_card_snippet.html' with object=offer %}
    {% endfor %}
    {% endif %}
</div>
<div id="mobile_cam_specs" class="mobile-cam-specs">
    {% if not camera_specs %}
    {% trans 'No camera details available' %}
    {% else %}
    <div class='md-cam-specs-internal'>
    {% if camera_specs.rear_cam_lenses %}
        <tr><b>Rear Camera Lenses</b>  
        {{camera_specs.rear_cam_lenses}}</tr>
    {% endif %}
    {% if camera_specs.rear_cam_megapixel %}
        <tr><b>Rear Camera Megapixel</b>  
        {{camera_specs.rear_cam_megapixel}}</tr>
    {% endif %}
    {% if camera_specs.back_cam_aperture %}
        <tr><b>Rear Camera Aperture</b>  
        {{camera_specs.back_cam_aperture}}</tr>
    {% endif %}
    {% if camera_specs.rear_cam_video_resolution %}
        <tr><b>Rear Camera Resolution</b>  
        {{camera_specs.rear_cam_video_resolution}}</tr>
    {% endif %}    
    </div>
    <div class='md-cam-specs-internal'>
    {% if camera_specs.front_cam_lenses %}
        <tr><b>Front Camera Lenses</b>  
        {{camera_specs.front_cam_lenses}}</tr>
    {% endif %}    
    {% if camera_specs.front_cam_megapixel %}
        <tr><b>Front Camera Megapixel</b>  
        {{camera_specs.front_cam_megapixel}}</tr>
    {% endif %}
    {% if camera_specs.front_cam_aperture %}
        <tr><b>Front Camera Aperture</b>  
        {{camera_specs.front_cam_aperture}}</tr>
    {% endif %}
    {% if camera_specs.front_cam_video_resolution %}
        <tr><b>Front Camera Video Resolution</b>  
        {{camera_specs.front_cam_video_resolution}}</tr>
    {% endif %}
    </div>
{% endif %}
</div>
<div id="mobile_tech_specs" class="md-tech-specs">
    {% if not tech_specs %}
    {% trans 'Currently no offer on this mobile' %}
    {% else %}
        {% comment %} {% trans "Technical Specification" %} {% endcomment %}

    <div class='md-tech-specs-internal'>
        {% if tech_specs.launch %}
            <tr><b>Launch</b>  {{tech_specs.launch}}</tr>
        {% endif %}
        {% if tech_specs.two_g %}
            <tr><b>2G</b>  {{tech_specs.two_g}}</tr>
        {% endif %}
        {% if tech_specs.three_g %}
            <tr><b>3G</b>  {{tech_specs.three_g}}</tr>
        {% endif %}
        {% if tech_specs.four_g %}
            <tr><b>4G</b>  {{tech_specs.four_g}}</tr>
        {% endif %}
        {% if tech_specs.five_g %}
            <tr><b>5G</b>  {{tech_specs.five_g}}</tr>
        {% endif %}
        {% if tech_specs.WiFi %}
            <tr><b>WiFi</b>  {{tech_specs.WiFi}}</tr>
        {% endif %}
        {% if tech_specs.dual_sim %}
            <tr><b>Dual Sim</b>  {{tech_specs.dual_sim}}</tr>
        {% endif %}
        {% if tech_specs.dimensions %}
            <tr><b>Dimensions</b>  {{tech_specs.dimensions}}</tr>
        {% endif %}
        {% if tech_specs.weight %}
            <tr><b>Weight</b>  {{tech_specs.weight}}</tr>
        {% endif %}
        {% if tech_specs.screen_type %}
            <tr><b>Screen Type</b>  {{tech_specs.screen_type}}</tr>
        {% endif %}
        {% if tech_specs.screen_size %}
            <tr><b>Screen Size</b>  {{tech_specs.screen_size}}</tr>
        {% endif %}
        {% if tech_specs.screen_resolution %}
            <tr><b>Screen Resolution</b>  {{tech_specs.screen_resolution}}</tr>
        {% endif %}
        {% if tech_specs.ip_certification %}
            <tr><b>IP Certification</b>  {{tech_specs.ip_certification}}</tr>
        {% endif %}
        {% if tech_specs.internal_storage %}
            <tr><b>Internal Storage</b>  {{tech_specs.internal_storage}}</tr>
        {% endif %}
        {% if tech_specs.external_storage %}
            <tr><b>External Storage</b>  {{tech_specs.external_storage}}</tr>
        {% endif %}
    </div>
    <div class='md-tech-specs-internal'>
        {% if tech_specs.WLAN %}
            <tr><b>WLAN</b>  {{tech_specs.WLAN}}</tr>
        {% endif %}
        {% if tech_specs.bluetooth %}
            <tr><b>Bluetooth</b>  {{tech_specs.bluetooth}}</tr>
        {% endif %}
        {% if tech_specs.NFC %}
            <tr><b>NFC</b>  {{tech_specs.NFC}}</tr>
        {% endif %}
        {% if tech_specs.USB %}
            <tr><b>USB</b>  {{tech_specs.USB}}</tr>
        {% endif %}
        {% if tech_specs.battery_type %}
            <tr><b>Battery Type</b>  {{tech_specs.battery_type}}</tr>
        {% endif %}
        {% if tech_specs.wireless_charging %}
            <tr><b>Wireless Charging</b>  {{tech_specs.wireless_charging}}</tr>
        {% endif %}
        {% if tech_specs.fast_charging %}
            <tr><b>Fast Charging</b>  {{tech_specs.fast_charging}}</tr>
        {% endif %}
        {% if tech_specs.chipset %}
            <tr><b>Chipset</b>  {{tech_specs.chipset}}</tr>
        {% endif %}
        {% if tech_specs.operating_system %}
            <tr><b>Operating System</b>  {{tech_specs.operating_system}}</tr>
        {% endif %}
        {% if tech_specs.ram %}
            <tr><b>RAM</b>  {{tech_specs.ram}}</tr>
        {% endif %}
    </div>
    {% endif %}
</div>
{%endblock content%}
{% block extra_scripts %}
<script>
var offers_btn = $("#m_offers_btn"); 
var color_btn = $("#m_colors_btn"); 
var memory_btn = $("#m_memory_btn"); 
var specs_btn = $("#m_specs_btn");
var cam_btn = $("#m_camera_btn"); 

var tech_specs_div = $('#mobile_tech_specs');
var cam_specs_div = $("#mobile_cam_specs");
var color_div = $('#md_color_div');
var memory_div = $("#md_memory_div");
var offers_div = $("#md_offers_div");

specs_btn.click(function() {
    tech_specs_div.toggle();
    /* bgcolor = $(this).css('backgroundColor');
    console.log('Colors', bgcolor)
    if(bgcolor == rgb(0, 122, 208)){
        $(this).css('background-color', '#fff').css('color','#000'); 
    } else {
        $(this).css('background-color', '#007AD0').css('color','#fff');} */
});
cam_btn.click(function() {
    cam_specs_div.toggle();
});
color_btn.click(function() {
    color_div.toggle();
});
memory_btn.click(function() {
    memory_div.toggle();
});
offers_btn.click(function() {
    offers_div.toggle();
});

// Hide the camera and technical specs on page load
$(function() {
    // Handler for .ready() called. 
    tech_specs_div.hide()
    cam_specs_div.hide()
    color_div.hide()
    memory_div.hide()
    offers_div.hide()
});
</script>
{% endblock extra_scripts %}