{% load i18n %}
{% load static %}
<link rel='stylesheet' href="{% static '/compare_modal.css'%}">
{% comment %} <h2>{% trans 'Compare' %}</h2> {% endcomment %}
<!-- Trigger/Open The Modal -->
{% comment %} <button id="open_modal">Open Modal</button> {% endcomment %}
<!-- The Modal -->
<div id="compare_mobile_modal" class="modal">
    <span class="close">&times;</span>
    <ul class='compare-ul'>
        <li class='mobile'>
            <span class="delete-mobile delete-mobile1">&times;</span>
            <img id='cm_mobile1_image' class='cm_mobile_image'></img>
            <p id='mobile1_name'></p>
            <p id='cm_mobile1_id' hidden></p>
        </li>
        <li class='mobile'>
            <span class="delete-mobile delete-mobile2">&times;</span>
            <img id='cm_mobile2_image' class='cm_mobile_image'></img>
            <p  id='mobile2_name'></p>
            <p id='cm_mobile2_id' hidden></p>
        </li>
        <li><button id='cm_compare_mobile_btn' class='cm-compare-mobile-btn'>
        {% comment %} onclick="location.href = '{% url 'mobiles:mobile-comparison' id1=cm_mobile1_id.innerHTML id2=cm_mobile2_id.innerHTML %}'"> {% endcomment %}
        {% trans 'Compare' %}</button></li>
    </ul>
</div>
<script>
//$("[id='compare']").click(function() {
  //$("[id='mobile1_name']").text("Hello")
  //open_modal();
  //add_mobile('Hello');
  //alert( "Handler for .click() called." );
//});
// Get the modal
var modal = document.getElementById("compare_mobile_modal");
var compare_btn = document.getElementById('cm_compare_mobile_btn');
// Get the mobile fields
var mobile1_name = document.getElementById("mobile1_name");
var mobile1_id = document.getElementById("cm_mobile1_id");
var mobile1_image = document.getElementById("cm_mobile1_image");
var mobile2_name = document.getElementById("mobile2_name");
var mobile2_id = document.getElementById("cm_mobile2_id");
var mobile2_image = document.getElementById("cm_mobile2_image");
// Get the button that opens the modal
{% comment %} var open_btn = document.getElementById("open_modal"); {% endcomment %}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];
var delete_mobile1 = document.getElementsByClassName("delete-mobile1")[0];
var delete_mobile2 = document.getElementsByClassName("delete-mobile2")[0];

// When the user clicks the button, open the modal 
//open_btn.onclick = function() {
//  modal.style.display = "block";
//}
{% comment %} open_btn.onclick = function() {open_modal();} {% endcomment %}
function close_modal(){
  modal.style.display = "none";
}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
delete_mobile1.onclick = function() {
  mobile1_name.innerHTML = "";
  mobile1_image.src = '';
  mobile1_id.innerHTML = '';
  if(is_empty(mobile1_name) && is_empty(mobile2_name)){
    close_modal();
  }
}
delete_mobile2.onclick = function() {
  mobile2_name.innerHTML = "";  
  mobile2_image.src = '';
  mobile2_id.innerHTML = '';
  if(is_empty(mobile1_name) && is_empty(mobile2_name)){
    close_modal();
  }
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
function open_modal(){
  modal.style.display = "block";
}
function add_mobile(id, m_name, image){
  if(!is_empty(mobile1_name) && !is_empty(mobile2_name)){
    //mobile2_name.innerHTML = mobile1_name.innerHTML;
    populate_mobile2(mobile1_id.innerHTML, 
    mobile1_name.innerHTML, mobile1_image.src,
    append_media=false)
    populate_mobile1(id, m_name, image);
    //mobile1_name.innerHTML = m_name;
    //console.log('Both Unempty')
  }
  else if(is_empty(mobile1_name)){
    //console.log('M1 Empty')
    populate_mobile1(id, m_name, image);

    //mobile1_name.innerHTML = m_name;
  }
  else if(is_empty(mobile2_name)){
    //console.log('M2 Empty')
    populate_mobile2(id, m_name, image);
    //mobile2_name.innerHTML = m_name;
  }
}
function is_empty(field){
  if(field.innerHTML == '') return true;
  return false;
  //for(var i in field) return false;
  //return true; 
}
function populate_mobile1(id, name, image){
  mobile1_id.innerHTML = id;
  mobile1_name.innerHTML = name;
  mobile1_image.src = 'media/'+image;
}
function populate_mobile2(id, name, image, append_media=true){
  mobile2_id.innerHTML = id;
  mobile2_name.innerHTML = name;
  if(append_media){
    mobile2_image.src = 'media/'+image;
  }
  else{
    mobile2_image.src = image
  }
}
compare_btn.onclick = function() {
  console.log('You clicked me');
  if(is_empty(mobile1_id) || is_empty(mobile2_id) ||
  mobile1_id.innerHTML==mobile2_id.innerHTML){
    return;
  }
  $.ajax({
    type: "GET",
    url: "/mobile_comparison",
    data: {
      "id1": mobile1_id.innerHTML,
      "id2": mobile2_id.innerHTML,
    },
  });
}
</script>
