{% extends 'base.html' %}
{% load i18n static %}
{% block title %} Cookie-Policy | {{ block.super }} {% endblock %}
{% block extra_head %}
  <link rel='stylesheet' href="{% static '/cookie_policy.css'%}">
{% endblock extra_head %}
{% block content %}
<div class='cp-container'>
    <h3 class='cp-main-heading'>{% trans "Cookie policy" %}</h3>
    <p>{% trans 'We use cookies, which are technology for collecting information about how you and other visitors use our website. The purpose of these guidelines is to tell you how we use cookies and how your information is used. We also tell you how to prevent the use of your information.' %}</p>
    <h5>{% trans "What are cookies?" %}</h5> <!--Hvad er cookies?-->
    <p>{% trans 'Cookies are stored on your computer or other IT equipment and which collect information. Cookies cannot spread viruses or other malicious programs. Cookies tell us which websites you have visited on your device. We may combine this with other information we have about you.' %}</p>
    <h5>{% trans 'Which cookies we use' %}</h5>
    <p><b>1. Google Analytics: </b>{% trans 'We use google analytics cookies. With Google Analytics we track visitor behavior on our website so we can optimize the effectiveness of our website. For example, we track how visitors use our site, what region they come from, and what features they are looking at.' %}</p>
    <p><b>2. CSRF - {% trans 'Cross Site Request Forgery protection' %}: </b>
    {% trans "The CSRF middleware and template tag provides easy-to-use protection against Cross Site Request Forgeries." %}</p>
    <p>{% trans 'We save cookies for ten years from the latest visit to our website' %}</p>
    <p>{% trans "Google Cookies lifetime and policy can be checked on google." %}</p>
    <h5>{% trans 'Deleting of cookies' %}</h5>
    <p>{% trans 'Cookies from our website can be easily deleted. It depends on which browser you are using. So in order to do that check the specifics of your browser on, How to delete cookies.' %}</p>
</div>
{% endblock content %}
