{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block extra_head %}
        <link rel='stylesheet' href="{% static '/mobile_brands.css' %}">
{% endblock %}

{% block title %} {% trans "Mobile Brands" %} | {{ block.super }}
{% endblock title %}

{% block content %}
<div class='mobile_list_container'>
    <h3 class="brands-header">{% trans "Explore Mobile Brands" %}<h3>
    <div class='company-list'>
        <form method='GET' action=''>
            <div><input name="brand" id="brand" class="btn btn-outline-info m-1" type="submit" value='Popular Mobiles' /></div>
            {% for mobile_brand in mobile_brands %}
              {% if mobile_brand.image %}
              <button name="brand" id="brand" class="btn btn-outline-info m-1" 
               type="submit" value={{mobile_brand}}>{{mobile_brand}}
               <img class='brand-btn-icon' src={{mobile_brand.image.url}}>
               </button>
              {% else %}
              <input name="brand" id="brand" class="btn btn-outline-info m-1" type="submit" value={{mobile_brand}} />
              {% endif %}
            {% endfor %}
        </form>
        <form class='form' method='GET' action=''>
            <input id='query' type='text' placeholder='{% trans 'Search..'%}' 
            name='query' value={{ request.GET.query}}>
            <button id='search_btn' class='btn btn-default bg-dark text-light' type='submit'>{% trans 'Search..'%}</button>
        </form>
    </div>
    <div class='mobile-list-container'>
        {% if mobile_list %}
        <hr>
        <h4>{{brand}}</h4>
        <b>{% translate "Select a Phone to Check Details and Offers" %}</b>
            <div class='selected-brand-mobile-list'>
                {% for mobile in mobile_list %}
                    <div class='mobile-card'>
                      {% include 'mobile/mobile_card_snippet.html' with mobile=mobile %}
                    </div>
                {% endfor %}
              </div>
        {% endif %}
    </div>
</div>

<div class="pagination">
  {% include 'paginator_template.html' with page_obj=page_obj %}
</div>

{% endblock content %}
{% block extra_scripts %}
<script>
  $(function() {
    $( "#query" ).autocomplete({
      source: "/mobile_search_auto_complete",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });
  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }
  // TODO call the below function if the user has
  // click / choosen one option from given list
  function SearchHandler()
  {
    $( "#search_btn" ).click()
  }
</script>
{% endblock extra_scripts %}
