{% extends 'base.html' %}

{% load i18n %}

{% block title %} {% translate "Telecom Companies" %} | {{ block.super }}
{% endblock title %}

{% block content %}
<div class='mt-5 text-center justify-content-center'>
<h3>{% translate "Check out offers from different Telecom Companies" %}<h3>
        <form method='GET' action=''>
        <input name="company" id="company" class="btn btn-outline-info m-1" type="submit" value='ALL' />
                {% for obj in object_list %}
                        <input name="company" id="company" class="btn btn-outline-info m-1" type="submit" value={{obj}} />
                {% endfor %}
        </form>
        <h3>{% trans "Popular Offers" %}</h3>
        <b>Total Offers</b> {{offer_count}}
        <div class="row container-fluid">
        {% for offer in offers %}
            <div class="col-auto">
                <div class="card border-success mb-3" style="max-width: 18rem;">
                        <div class="card-header bg-transparent border-success">
                        {% trans "Discount"%} {% if offer.discount %}:{{offer.discount}}{% endif %}</div>
                        <div class="card-body text-success">
                        <h5 class="card-title">{% if offer.mobile %}
                        {{offer.mobile.name}} {% elif offer.mobile_name %}
                        {{ offer.mobile_name }}{% endif %}</h5>
                        <p class="card-text"><small>{% translate "Telecom Company" %}</small>
                        {{offer.telecom_company.name}}</p>
                        </div>
                        <div class="card-footer bg-transparent border-success">{% if offer.price %}
                        {{offer.price}} {% else %}{%trans "Offer" %} {% endif %}</div>
                </div>
            </div>
        {% endfor %}
        </div>
</div>
{% include 'paginator_template.html' with page_obj=offers %}

{% endblock content %}
