{% load i18n %}
{% load static %}
<head>
  <link rel='stylesheet' href="{% static '/baner.css'%}">
</head>
{% if slider_offers and slider_offers|length > 0 %}
<!--Carousel Wrapper-->
<div id='mtCarousel' class="carousel slide carousel-fade pt-4" data-ride="carousel">
  <!--Slides-->
  <ol class="carousel-indicators">
    {% for mobile in slider_offers%}
      {% if forloop.counter0|divisibleby:4 %}
        <li data-target="#mtCarousel" data-slide-to={% widthratio forloop.counter0 4 1 %} class="active"></li>
      {% endif %}
    {%endfor%}
  </ol>
  <div class="carousel-inner bg-light" role="listbox">
    <div class="carousel-item d-flex justify-content-center active">
      {% for mobile in slider_offers%}
        {% if mobile.image %}
          <div class="col-sm-2">
            <a href={{ mobile.get_absolute_url }}>
              <img class="d-block banner-m-image" src="{{mobile.image.url}}" alt="slider.name">
            </a>
            <div class="carousel-caption d-md-block capt baner-m-name-div">
              <h5 class='baner-m-name'>{{mobile.name}}</h5>
              {% comment %} {% if mobile.price %}<p>{% trans 'Price' %}: {{mobile.price}}</p>{% endif %} {% endcomment %}
            </div>
          </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 and not forloop.last%}
          </div>
          <div class="carousel-item d-flex justify-content-center">
        {% endif %}
      {%endfor%}
    </div>
  </div>
  <a class="carousel-control-prev banner-pn-link" href="#mtCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next banner-pn-link" href="#mtCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endif %}
