<!--Footer-->
{% load i18n %}
<footer class="page-footer bg-light text-center font-small mt-4 wow fadeIn">

  <hr class="my-2">

  <!-- Social icons -->
  {% comment %} <div class="pb-4">
    <a href="">
      <i class="fab fa-facebook-f mr-3">Facebook</i>
    </a>

    <a href="">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a href="">
      <i class="fab fa-dribbble mr-3"></i>
    </a>

    <a href="">
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a href="">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="">
      <i class="fab fa-codepen mr-3"></i>
    </a>
  </div> {% endcomment %}
  <!-- Social icons -->

<div className="footer">
  <div class='d-flex flex-column' className="footerAboutUs">
      <h3 className="footerHeader">About us</h3>
      <a className="footerLinks" href="https://www.smartdeveloper.dk/about">
          {% trans 'About' %}
      </a>
      <a className="footerLinks" href="https://www.smartdeveloper.dk/contact">
          {% trans 'Contact' %}
      </a>
      <a href="{% url 'cookie-policy' %}">
        {% trans 'Cookie Policy' %}
      </a>  
      <a href="{% url 'privacy-policy' %}">
        {% trans 'Privacy Policy' %} 
      </a>  
      <!--Copyright-->
      <div class="footer-copyright py-2">
        {% trans 'Copyright'%}©2021 
        <a href="https://www.smartdeveloper.dk" target=blank> Smart Developer </a>
      </div>
  <!--/.Copyright-->
</footer>