<!--Footer-->
{% load i18n %}
<footer class="page-footer bg-light text-center font-small mt-4 wow fadeIn">

  <hr class="my-2">

  <!-- Social icons -->
  {% comment %} <div class="pb-4">
    <a href="">
      <i class="fab fa-facebook-f mr-3">Facebook</i>
    </a>

    <a href="">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="">
      <i class="fab fa-google-plus-g mr-3"></i>
    </a>

    <a href="">
      <i class="fab fa-dribbble mr-3"></i>
    </a>

    <a href="">
      <i class="fab fa-pinterest mr-3"></i>
    </a>

    <a href="">
      <i class="fab fa-github mr-3"></i>
    </a>

    <a href="">
      <i class="fab fa-codepen mr-3"></i>
    </a>
  </div> {% endcomment %}
  <!-- Social icons -->
  <div class="pb-4">
    <a href="{% url 'cookie-policy' %}">
      <i class="fab fa-codepen mr-3">{% trans 'Cookie Policy' %}</i>
    </a>  
    <a href="{% url 'privacy-policy' %}">
      <i class="fab fa-codepen mr-3">{% trans 'Privacy Policy' %}</i>
    </a>  
  </div>
  <!--Copyright-->
  <div class="footer-copyright py-2">
    {% trans 'Copyright'%}©2021 
    <a href="https://www.smartdeveloper.dk" target=blank> Smart Developer </a>
  </div>
  <!--/.Copyright-->

</footer>