{% load i18n %}
{% load static %}
<head>
  <link rel='stylesheet' href="{% static '/main_nav.css'%}">
</head>
<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light scrolling-navbar border-bottom border-grey">
        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="{% url 'telecompanies:home' %}">
            <img style="width:1.5rem;" class='logo-image' src={% static 'logo1.png' %}>
            <strong class="blue-text">MobileTilbud</strong>
        </a>
        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link waves-effect" href={% url 'telecompanies:home' %}>
                        {% translate "Home" %} </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href={% url 'telecompanies:offers' %}>
                        {% translate "Telecom-companies" %} </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href={% url 'core:mobile-brands' %}>
                        {% translate "Mobiles" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect" href={% url 'core:mobiles-and-offers' %}>
                        {% translate "Check" %}
                    </a>
                </li>
            </ul>
            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                {% get_current_language as LANGUAGE_CODE %}
                <form class="navbar-form form-inline" action="{% url 'change_language' %}" method="post">
                    {% csrf_token %}
                    <select name="language" class="form-control" onchange="this.form.submit()">
                        {% get_available_languages as LANGUAGES %}
                        {% for language in LANGUAGES %}
                        <option class="nav-item dropdown" value="{{ language.0 }}" {% if language.0 == LANGUAGE_CODE %} selected{% endif %}>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{% url 'change_language' %}">{{ language.0 }}</a>
                            </div>
                        </option>
                        {% endfor %}
                    </select>
                </form>
            </ul>
        </div>
</nav>
<!-- Navbar -->
