{% extends "base.html" %}
{% load static i18n %}

{% block content %}
<div class='container flex  mt-5'>
    <h1>{% trans 'Privacy Policy' %}</h1>
    <p>
        <h3>Introduction</h3>
        This privacy notice applies to the processing  
        of personal data by MobileTilbud. This privacy 
        notice applies to the person who sign’s up on 
        MobileTilbud as a user in order to advertise 
        their products offered by their company. This 
        privacy notice sets out how and why MobileTilbud 
        processes your personal data and protects 
        your privacy rights. 
        <h3>Which data do we process</h3>
        We process personal details such as your name, 
        contact information, including your address, 
        telephone number and email address, your company 
        information, digital information related to your 
        use of our websites, platforms and digital 
        applications, including traffic data, location 
        data, behavioral data and other communication 
        data, information about the devices you use to 
        access our websites as well as technical information, 
        including the type of device and operating system. 
        We process other personal data as necessary to provide 
        you with specific products or services or if we are 
        required by law to do so. Our ability to offer the 
        best advice and solutions for you very much depends 
        on how well we know you. Consequently, it is important 
        that the information you provide is correct and accurate 
        and that you inform us of any changes.
        <h3>What is your personal data for</h3>
        <li>Firstly your information is used to identify you and 
        your company, which ensures a better service at our website, 
        protect against fake ids, fraud and to fulfill our 
        agreements with you. We also use data for Customer 
        services and customer relationship management, we provide 
        you with advice, administration, handling of complaints 
        that our website visitors submit for you. </li>
        <li>Communicating with you about your products and services.</li>
        <li>To improve, develop and manage our products and services, 
        including using data analytics and statistics to improve 
        products and services and to test our systems. </li>
        <li>Marketing of our services and products. </li>
        <li>We use cookies and similar technology on our website, 
        including for marketing via digital channels and social 
        media platforms such as Facebook. </li>
    </p>
</div>
{% endblock %}