{% extends 'base.html' %}
{% load static i18n %}
{% block extra_head %}
  <link rel='stylesheet' href="{% static '/partners_login.css'%}">
{% endblock extra_head %}

{% block title %} {% translate "Partners Login" %} | {{ block.super }}
{% endblock title %}

{% block content %}
    <div class='pl-container'>
        <h3>{% trans 'Partners Login'%}</h3>
        <p>{% trans 'If you do not have a login and would like to post mobile offers from your company on our website, then please sign up first.' %}</p>
        <form action='' method='POST'>
            {% csrf_token %}
        </form>
    </div>
{% endblock content %}

{% block extra_scripts %}
{% endblock extra_scripts %}
